@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background: #f9fafb;
  color: #111827;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
